<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            com.microsoft.sqlserver.jdbc.SQLServerDriver
        </property>
        <property name="hibernate.connection.url">
            jdbc:sqlserver://localhost:1433;databaseName=FINALASS_FPOLYSHOP_FA22_SOF205__SOF2041;encrypt=false
        </property>
        <property name="hibernate.connection.username">
            sa
        </property>
        <property name="hibernate.connection.password">
            123456
        </property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">100</property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.SQLServerDialect
        </property>
        <!-- Show all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- List mapping annotation classes -->
        <mapping class="com.example.java4.model.ChucVu" />
        <mapping class="com.example.java4.model.CuaHang" />
        <mapping class="com.example.java4.model.DongSP" />
        <mapping class="com.example.java4.model.KhachHang" />
        <mapping class="com.example.java4.model.MauSac" />
        <mapping class="com.example.java4.model.NhanVien" />
        <mapping class="com.example.java4.model.NSX" />
        <mapping class="com.example.java4.model.SanPham" />
        <mapping class="com.example.java4.model.GioHangChiTiet" />
        <mapping class="com.example.java4.model.ChiTietSP" />
        <mapping class="com.example.java4.model.GioHang" />
        <mapping class="com.example.java4.model.HoaDon" />
        <mapping class="com.example.java4.model.HoaDonChiTiet" />
    </session-factory>
</hibernate-configuration>