/* footer section start */
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    font-size:14px;
    background: #fff;
    max-width:1920px;
    margin:0 auto;
    overflow-x:hidden;
    font-family: poppins;
}
#footer{
    background: #0d6efd ;
    padding: 2rem;
    /* padding-top: 5rem; */
    padding-bottom: 80px;
    background-size: 90% 90%;
    height: 250px;
}

#footer2{
    background: #f7f7f7;
    padding: 3rem;
    margin-top: 0px;
    /* padding-top: 5rem; */
    padding-bottom: 80px;
}
.logo-footer{
    /* max-width: 300px; */
}
.social-links{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}
.social-links h2{
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.social-links img{
    padding-bottom: 25px;
}
.social-icons{
    /* display: flex;
    gap: 3rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #777777;
}
.social-icons a{
    /* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
	color: #82074a; */
    /* margin-right: 18px; */
    color: white;
}
.social-icons a:hover{
    color: #000;
}
.social-icons a i{
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #82074a;
    font-size: 16px;
    margin-right: 12px;
}
li{
    list-style: none;
}
.useful-link h2{
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.useful-link img{
    padding-bottom: 15px;
}
.use-links{
    line-height: 32px;
}
.use-links li i{
    font-size: 14px;
    padding-right: 8px;
    color: #898989;
}
.use-links li a{
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.use-links li a:hover{
    color: #000;
}
.address h2{
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.address img{
    padding-bottom: 15px;
}
.address-links li a{
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.address-links li i{
    font-size: 16px;
    padding-right: 8px;
    color: #82074a;

}
.address-links li i:nth-child(1){

}
.address-links .address1{
    font-weight: 500;
    font-size: 15px;
    display: flex;
}
.address-links{
    line-height: 32px;
    color: white;
}
.copy-right-sec{
    padding: 1.8rem;
    background: #82074a;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
    color: #fcd462;
    font-weight: 500;
}
a{
    text-decoration:none;
}
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}
/* footer section end */

.table {
    color: #535353;
}

.invoice-content {
    font-family: 'Poppins', sans-serif;
    color: #535353;
    font-size: 14px;
}

.invoice-content a {
    text-decoration: none;
}

.invoice-content .img-fluid {
    max-width: 100% !important;
    height: auto;
}

.invoice-content .form-control:focus {
    box-shadow: none;
}

.invoice-content h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Poppins', sans-serif;
    color: #535353;
}

.mb-0{
    margin-bottom: 0;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/** BTN LG **/
.btn-lg {
    font-size: 14px;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    border-radius: 3px;
    color: #ffffff;
    border: none;
    margin: 0 3px 3px;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
    z-index: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.btn-lg:hover {
    color: #ffffff;
}

.btn-lg:hover:after {
    transform: perspective(200px) scaleX(1.05) rotateX(0deg) translateZ(0);
    transition: transform 0.9s linear, transform 0.4s linear;
}

.btn-lg:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    transform: perspective(200px) scaleX(0.1) rotateX(90deg) translateZ(-10px);
    transform-origin: bottom center;
    transition: transform 0.9s linear, transform 0.4s linear;
    z-index: -1;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-print{
    background-image: linear-gradient(to bottom, #54544d, #1a1918);
}

.btn-print:after {
    background-image: linear-gradient(to bottom, #1a1918, #54544d);
}

.invoice-content .f-w-600 {
    font-weight: 500 !important;
}

.invoice-content .text-14 {
    font-size: 14px;
}

.invoice-content .invoice-table th:first-child,
.invoice-content .invoice-table td:first-child {
    text-align: left;
}

.invoice-content .color-white {
    color: #fff!important;
}

.invoice-content .inv-header-1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}

.invoice-content .inv-header-2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.invoice-content .inv-title-1 {
    font-weight: 500;
    font-size: 16px;
}

.invoice-content .invo-addr-1 {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 23px;
}

.invoice-content .item-desc-1 {
    text-align: left;
}

.invoice-content .item-desc-1 span {
    display: block;
}

.invoice-content .item-desc-1 small {
    display: block;
}

.invoice-content .important-notes-list-1 {
    font-size: 14px !important;
    padding-left: 15px;
    margin-bottom: 15px;
}

.invoice-content .important-notes-list-1 li {
    margin-bottom: 5px;
}

.invoice-content .bank-transfer-list-1 {
    font-size: 13px !important;
    padding-left: 0px;
}

.invoice-content .important-notes {
    font-size: 12px !important;
}

.invoice-content .invoice-btn-section {
    text-align: center;
    margin-top: 27px;
}

table th{
    font-weight: 400;
}

.btn-download {
    background: #3965e3;
}

.btn-download:after {
    background: #325cd5;
}

.btn-print{
    background: #3a3939;
}

.btn-print:after {
    background: #1d1c1c;
}

/** Invoice 1 Start **/
.invoice-1 {
    padding: 30px 0;
    background: #fff6f6;
}

.invoice-1 .mb-30 {
    margin-bottom: 30px;
}

.invoice-1 .invoice-info {
    background: #fff;
    position: relative;
}

.invoice-1 .name{
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #262525;
    font-weight: 500;
}

.invoice-1 .mb-10{
    margin-bottom: 10px;
}

.invoice-1 .invoice-headar {
    height: 125px;
    margin-bottom: 25px;
    background: #f3f3f3;
}

.invoice-1 .invoice-headar p span{
    float: right;
}

.invoice-1 .invoice-number-inner{
    max-width: 200px;
    margin-left: auto;
}

.invoice-1 .invoice-id .info{
    max-width: 200px;
    margin:0 50px 0 auto;
    padding: 34px 0;
}

.invoice-1 .invoice-id{
    border-radius: 75px 0 0 75px;
    z-index: 0;
    background-image: linear-gradient(to bottom, #ff0000, #ff8100);
}

.invoice-1 .payment-method-list-1{
    padding: 0;
}

.invoice-1 .item-desc-1 span {
    font-size: 14px;
    font-weight: 500;
}

.invoice-1 .payment-method{
    max-width: 200px;
    margin-left: auto;
}

.invoice-1 .payment-method ul {
    list-style: none;
}

.invoice-1 .payment-method ul li strong{
    font-weight: 500;
}

.invoice-1 .table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgb(255 255 255 / 5%);
    color: var(--bs-table-striped-color);
}

.invoice-1 table th {
    font-weight: 500;
    text-transform: uppercase;
}

.invoice-1 .invoice-top {
    padding: 40px 50px 10px;
    font-size: 15px;
}

.invoice-1 .inv-title-1{
    color: #ff3200;
    margin-bottom: 5px;
}

.invoice-1 .invoice-logo{
    padding: 50px;
}

.invoice-1 .invoice-logo img {
    height: 25px;
}

.invoice-1 .table-section {
    text-align: center;
}

.invoice-1 .invoice-center {
    padding: 0 50px 40px;
}

.invoice-1 .table > :not(caption) > * > * {
    padding: 13px 30px;
}

.invoice-1 .table > :not(caption) > * > * {
    background-color: var(--bs-table-bg);
    border-bottom-width: 0;
}

.invoice-1 .table .pl0{
    padding-left: 0;
}

.invoice-1 .table td.pl0{
    padding-left: 0;
}

.invoice-1 .table td, .invoice-1 .table th {
    vertical-align: middle;
    border: none !important;
}

.invoice-1 .table td {
    font-size: 15px;
    color: #555;
}

.invoice-1 p{
    font-size: 14px;
}

.invoice-1 .invoice-info-buttom .table .invoice-1 .invoice-info-buttom .table tr, .table tr {
    border: 1px solid #e9ecef;
}

.invoice-1 .caption-top {
    caption-side: top;
    text-align: right;
    margin-bottom: 0;
}

.invoice-1 .invoice-bottom {
    padding: 0 50px 10px;
}

.invoice-1 .bg-active {
    background: #f3f3f3;
    color: #535353!important;
}

.invoice-1 .active-color{
    color: #ff3200!important;
}

.invoice-1 .invoice-bottom h3 {
    margin-bottom: 7px;
}

.invoice-1 .contact-info {
    padding: 30px 50px;
    border-radius: 0 40px 40px 0;
    background-image: linear-gradient(to bottom, #f3f3f3, #ffffff);
}

.invoice-1 .contact-info a {
    margin-right: 20px;
    color: #535353;
    font-size: 14px;
}

.invoice-1 .contact-info .mr-0{
    margin-right: 0;
}

.invoice-1 .inv-header-1 {
    font-weight: 600;
}

.invoice-1 .invoice-contact::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 30px;
    border-radius: 15px 0 0 15px;
    z-index: 0;
    background-image: linear-gradient(to bottom, #ff0000, #ff8100);
}

/** MEDIA **/
@media (max-width: 992px) {
    .invoice-1 {
        padding: 30px 0;
    }
}

@media (max-width: 768px) {
    .invoice-1 .table > :not(caption) > * > * {
        padding: 15px 10px;
    }

    .invoice-1.invoice-content .color-white {
        color: #262525!important;
    }

    .invoice-1 .payment-method {
        margin: 0 auto 30px 0;
    }

    .invoice-1 .invoice-top {
        padding: 30px 30px 0;
    }

    .invoice-1 .contact-info {
        padding: 30px;
        border-radius: 0;
    }

    .invoice-1 .invoice-center {
        padding: 0 30px 30px;
    }

    .invoice-1 .invoice-contact::after {
        display: none;
    }

    .invoice-1 .invoice-bottom {
        padding: 0 30px;
    }

    .invoice-1 .invoice-id {
        background: transparent;
    }

    .invoice-1 .invoice-logo {
        padding: 0;
        margin-bottom: 10px;
    }

    .invoice-1 .invoice-headar {
        height: auto;
        margin-bottom: 0;
        padding: 30px;
    }

    .invoice-1 .invoice-id .info {
        margin: 0 auto 0 15px;
        padding: 0;
    }

    .invoice-1 .invoice-number-inner {
        margin: 0 auto 0 0;
    }
}

@media (max-width: 580px){
    .invoice-1 .invoice-id .info {
        margin: 0 auto 0 15px;
    }

    .invoice-1 .invoice-id .info {
        margin: 0 auto 0 0;
    }

    .invoice-1 .d-none-580{
        display: none!important;
    }
}
/** Invoice 1 end **/
